// SF Pro Display Font
// =========================================
@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SF_Pro/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SF_Pro/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SF_Pro/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SF_Pro/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// Rukic Font
// =========================================
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// Poppins Font
// =========================================
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}