@import "./variables";
.ModuleItemSearch {
  .Module-search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .left {
      flex-basis: 310px;
      h2 {
        span {
          font-size: rem(16);
          color: #414042;
          font-weight: normal;
        }
      }
    }
    .filter-btn {
      // color: #707070;
      // border: 1px solid #707070;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      display: inline-block;
      border-radius: 3px;
      min-width: 36px;
      height: 36px;
      text-align: center;
      i {
        font-size: 24px;
      }
    }
  }
  .sorting {
    flex-grow: 1;
    text-align: right;
    .form-inline {
      justify-content: flex-end;
      @media (max-width: 600px) {
        // display: block;
      }
      .form-control {
        line-height: 44px;
        height: 44px !important;
        max-width: 220px;
        flex-grow: 1;
        color: #636363;
        border-color: #636363;
        margin-left: 8px;
        font-weight: 600;
        @media (max-width: 600px) {
          min-width: 100%;
          margin-bottom: 8px;
        }
        &.active {
          color: $primaryColor;
          border-color: $primaryColor;
        }
      }
    }
  }
  .module-search-filter-collapse {
    .sorting {
      padding: 35px 0px;
      @media (max-width: 600px) {
        padding: 0;
        margin-bottom: 30px;
      }
    }
  }
  .Module-search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 480px) {
    }
    .Module-item {
      margin-bottom: 28px;
      width: 32%;
      @media (max-width: 767px) {
        width: calc(50% - 14px);
      }
      @media (max-width: 480px) {
        min-width: 100%;
      }
    }
  }
}
